# Dependencies
node_modules/
vendor/
ui/node_modules

# Build output
api/proxmaid
*.exe

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Packages
*.deb
*.rpm

# Next.js
ui/.next/
ui/.next/*
ui/out/*
ui/node_modules/*
ui/node_modules

# Environment
.env
.env.local

# Test coverage
coverage/
*.cover
